<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-lg-6">
				<div class="title text-center">
					<h2>为什么选择我们？ </h2>
					<p>低成本、专业、个性化</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">

			<div class="col-md-6 mb-4 mb-md-0">
				<img loading="lazy" src="images/about/about-2.png" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				<ul class="checklist">
					<li>我们的素材创作平台，提供精美创作原始内容，任何人都可以轻易制作；</li>
					<li>我们的图像编辑平台，实现一种全新的编辑范式，有想象能力即可实现创作和编辑；</li>
					<li>我们的视频特效平台，能够低成本的实现高清特效，提高创作视频的有趣性；</li>
					<li>我们的游戏生成平台，致力于普及游戏创作，人人都是游戏制作人.</li>
				</ul>
				<a href="about.html" class="btn btn-main mt-20">了解更多</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->