<section class="promo-video section-sm">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>宣传视频</h2>
					<p>我们在视频中展示现实编辑的重要性,当前<br>解决方案的弊端，并引出我们自己的解决方案与产品。</p>
					<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- /section title -->
			<div class="col-md-8 mx-auto">
				<video controls preload="none" width="100%" poster="images/favicon.png">
					<source src="images/videos/RealityEditor_intro.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</section>