<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <!-- <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>关于</h3>
          <p>我们.</p>
        </div> -->
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <ul>
            <li>
              <h3>我们的服务</h3>
            </li>
            <li><a href="product-composition.html">现实单元生成</a></li>
            <li><a href="service.html">现实图像合成</a></li>
            <li><a href="service.html">现实视频特效</a></li>
            <li><a href="service.html">现实游戏引擎</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
              <h3>快速链接</h3>
            </li>
            <li><a href="about.html">现实单元生成</a></li>
            <li><a href="service.html">现实图像合成</a></li>
            <li><a href="blog.html">现实视频特效</a></li>
            <li><a href="404.html">现实游戏引擎</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>联系我们</h3>
            </li>
            <li><a href="https://www.facebook.com/themefisher/">Facebook</a></li>
            <li><a href="https://www.twitter.com/themefisher/">Twitter</a></li>
            <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA">Youtube</a></li>
            <li><a href="https://www.github.com/themefisher/">Github</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <!-- <div class="footer-bottom">
    <h5>&copy; Copyright 2023. All rights reserved.</h5>
    <h6>Design and Developed by <a href="https://themefisher.com/">Themefisher</a></h6>
  </div> -->
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->