<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">现实编辑师 (Reality Editor)</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5"> 为创作而创造 </p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="service.html"> 了解更多 </a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">将深度大模型 <br> 和交互理念结合</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5"> 通过最简单的交互形式实现专业的创作 
						<br> 构建低成本特效平台，助力全民个性化创作.</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="service.html">了解更多</a>
				</div>
			</div>
		</div>
	</div>
</div>