<section class="blog" id="blog">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="title text-center">
                <h1>RealityGame </h1>
                <h2> 现实游戏引擎 </h1>
                <p></p>
                <p>
                    <a href="https://realityeditor.com.cn/">RealityEditor Team</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <div>
            <img loading="lazy" src="images/product/realitygame/teaser.png" style="width:100%; margin-left:0px; margin-top:0px;">
        </div>

        <hr>
        <div>
            <br>
            <p>
                现实编辑师的现有产品，使我们具备了编辑现实图像、视频的能力，以及产生了大量的编辑后素材。基于强大的编辑能力与丰富的素材，我们赋能于游戏制作行业，包含游戏角色编辑、游戏素材生成，以及游戏素材组合等。
            </p>
            <p>
                为此，我们准备了简单的<b>“素材真假找茬”</b>小游戏与<b>“游戏三维编辑”</b>工具作为示例游戏制作 Demo。其中，“素材真假找茬”是一款简单的微信小游戏，其游戏素材来源于现实编辑师各系列产品的生成图像；
                “现实三维编辑”则是一个实用工具，助力游戏开发与设计人员的素材生成与编辑。
            </p>
        </div>
    </div>
        <br><br>

        <div>
            <h2>
                示例一：素材真假找茬 (FindFake)
            </h2>

            
            <p>
                1. 分辨真实图片与AI生成图片：
            </p>

            <div>
                <img loading="lazy" src="images/product/realitygame/ai_select2.PNG" style="width:70%; margin-left:130px; margin-top:0px;">
            </div>

            <br>

            <p>
                2. 分辨图像中的AI生成区域：
            </p>

            <div>
                <img loading="lazy" src="images/product/realitygame/ai_region.png" style="width:70%; margin-left:130px; margin-top:0px;">
            </div>

            <br>

        </div>

    <br><br>
    <div>
        <!-- <s2>模型训练和推理使用</s2> -->
        <hr>
        <h2>
            示例二：游戏三维编辑
        </h2>
        <p>
            1. 自定义编辑三维场景：

        </p>

        <div>
            <video controls preload="none" height="100%" width="100%" poster="images/product/realitygame/3d_game1_1.PNG" style="margin-left:0px; margin-top:0px;" >
                <source src="images/product/realitygame/3d_game1_2.mp4" type="video/mp4"></video>
                <p align="center">编辑样例1：抬起推土机的铲子</p> 
            <br>
            <video controls preload="none" height="100%" width="100%" poster="images/product/realitygame/3d_game1_2.PNG" style="margin-left:0px; margin-top:0px;" >
                <source src="images/product/realitygame/3d_game1_1.mp4" type="video/mp4"></video>
                <p align="center">编辑样例2：去除推土机的铲子</p> 
        </div>

        <br>

        <p>
            2. 利用图像与文字控制三维场景生成：
        </p>
        <div>
            <table><tr>
                <td><img loading="lazy" src="images/product/realitygame/3d_game_reshape2.png" style="width:100%; margin-left:0px; margin-top:0px;"></td>
                <td> </td>
                <td> </td>
                <td><video controls preload="none" height="100%" width="100%" poster="images/product/realitygame/3d_game2.PNG" style="margin-left:0px; margin-bottom:10px;" >
                    <source src="images/product/realitygame/3d_game2.mp4" type="video/mp4">
            </video></td>
            </tr></table>


            
        </div>
    </div>

    <div>
        <hr>
        <h2>
            合作交流
        </h2>
        <p>
            RealityEditor团队致力于为开发者和研究人员提供更多高级的图像应用技术，并着重推动图像合成技术的创新和发展。
            这也是我们开源该项目的最初想法和目的，希望能为更广泛的用户和应用场景带来更广阔的想象空间。
            因此，我们欢迎一切形式的交流、分享和参与，并期待与大家共同实现更多美好的愿景！ 如果您想了解更多细节和技术资料，请访问我们的<a href="https://github.com/Reality-Editor">GitHub项目地址</a>。
            <br>
            欢迎通过微信公众号（现实编辑师）联系RealityEditor团队。
        </p>

    </div>

</div>

</section>
