<!-- Start Our Team
		=========================================== -->
<section class="team" id="team">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2>团队组成</h2>
					<p> 我们团队主要来自香港中文大学<br>计算机系博士,积累了大量了AI内容生成经验。</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row">
			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/乔治.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<!-- <div class="mask">
							<ul class="clearfix">
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div> -->
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>乔治</h3>
						<span></span>
						<p>Ph.D. C of Computer Science</p>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/刚哥.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<!-- <div class="mask">
							<ul class="clearfix">
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div> -->
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>刚哥</h3>
						<span></span>
						<p>Doctor of Computer Science</p>
					</div>
					<!-- /member name & designation -->
				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/卤蛋.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<!-- <div class="mask">
							<ul class="clearfix">
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div> -->
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>卤蛋</h3>
						<span></span>
						<p>Doctor of Computer Science</p>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->